name: lint-build-test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout source
      uses: actions/checkout@v2

    - name: set up python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: install dependencies
      run: python -m pip install --upgrade pip

    - name: lint
      run: |
        pip install -q flake8
        flake8
  test:
    needs: lint
    runs-on: macos-latest
    steps:
    - name: deps
      run: |
        set -x
        conda install -y wget 
        wget https://data.qiime2.org/distro/core/qiime2-2021.11-py38-osx-conda.yml
        conda env create -n prov --file qiime2-2021.11-py38-osx-conda.yml
        echo $SHELL
        source ${CONDA}/etc/profile.d/conda.sh
        conda activate prov
        pip install -e .
    - name: checkout source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: test
      run: make test
